        <div data-animation="slide" data-duration="500" data-infinite="1" class="homeslider w-slider">
          <div class="mask w-slider-mask">
            <div class="slide-4 w-slide">
              <div class="sliderouter w-container">
                <div class="sliderheadercontainer">
                  <div class="sliderheader">
                      <p class="editable">
                          {{ page.slide1Header }}
                      </p>
                  </div>
                  <div class="sliderrule"></div>
                  <div class="slidermainpara editable"><p>Find out more about us...</p></div><a href="/{{ page.button1Link_url }}" class="sliderbutton w-button">Find out more...</a></div>
              </div>
            </div>
            <div class="slide-2 w-slide">
              <div class="sliderouter w-container">
                <div class="sliderheadercontainer">
                  <div class="sliderheader editable">Really nice words</div>
                  <div class="sliderrule"></div>
                  <div class="slidermainpara editable">An explanation that links to services below.</div><a href="/{{ page.button2Link_url }}" class="sliderbutton w-button">Find out more...</a></div>
              </div>
            </div>
            <div class="slide-3 w-slide">
              <div class="sliderouter w-container">
                <div class="sliderheadercontainer">
                  <div class="sliderheader editable">The final word...</div>
                  <div class="sliderrule"></div>
                  <div class="slidermainpara editable">The slide paragraph that links to contact</div><a href="/{{ page.button3Link_url }}" class="sliderbutton w-button">Find out more...</a></div>
              </div>
            </div>
          </div>
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round"></div>
        </div>
