        <div data-animation="slide" data-duration="500" data-infinite="1" class="homeslider w-slider">
          <div class="mask w-slider-mask">
            <div class="slide-4 w-slide">
              <div class="sliderouter w-container">
                <div class="sliderheadercontainer">
                  <div class="sliderheader editable">{{ page.slide1Header }}</div>
                  <div class="sliderrule"></div>
                  <div class="slidermainpara editable">{{ page.slide1Para }}</div><a href="{{ site.url }}{{ page.button1Link }}" class="sliderbutton w-button">Find out more...</a></div>
              </div>
            </div>
            <div class="slide-2 w-slide">
              <div class="sliderouter w-container">
                <div class="sliderheadercontainer">
                  <div class="sliderheader editable">{{ page.slide2Header }}</div>
                  <div class="sliderrule"></div>
                  <div class="slidermainpara editable">{{ page.slide2Para }}</div><a href="{{ site.url }}{{ page.button2Link }}" class="sliderbutton w-button">Find out more...</a></div>
              </div>
            </div>
            <div class="slide-3 w-slide">
              <div class="sliderouter w-container">
                <div class="sliderheadercontainer">
                  <div class="sliderheader editable">{{ page.slide3Header }}</div>
                  <div class="sliderrule"></div>
                  <div class="slidermainpara editable">{{ page.slide3Para }}</div><a href="{{ site.url }}{{ page.button3Link }}" class="sliderbutton w-button">Find out more...</a></div>
              </div>
            </div>
          </div>
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round"></div>
        </div>
