        <div class="featurescontainer w-container">
          <div class="w-row">
            <div class="featureblock w-col w-col-3"><img src="{{ site.url }}/images/{{ page.block1SVG_path }}" class="editable" alt="">
              <h4 class="featureblockheaders">{{ page.block1Header }}</h4>
            </div>
            <div class="featureblock2 w-col w-col-3"><img src="{{ site.url }}/images/{{ page.block2SVG_path }}" class="editable" alt="">
              <h4 class="featureblockheaders">{{ page.block2Header }}</h4>
            </div>
            <div class="featureblock3 w-col w-col-3"><img src="{{ site.url }}/images/{{ page.block3SVG_path }}" class="editable" alt="">
              <h4 class="featureblockheaders">{{ page.block3Header }}</h4>
            </div>
            <div class="featureblock4 w-col w-col-3"><img src="{{ site.url }}/images/{{ page.block4SVG_path }}" class="editable" alt="">
              <h4 class="featureblockheaders">{{ page.block4Header }}</h4>
            </div>
          </div>
        </div>
