      <!-- topBanner -->
      <div class="topwrappercontact">
        <div class="topbannercontainer w-container">
          <div class="row w-row">
            <div class="column w-col w-col-6"><img src="{{ site.url }}/images/icon-phone-01.svg">
              <div class="telephoneheader">{{ site.telephone }}</div><img src="{{ site.url }}/images/icon-find-us-01.svg">
              <div class="telephoneheader">Find us</div>
            </div>
            <div class="column-2 w-col w-col-6"><a href="{{ site.url }}/book-appointment.html" class="topbannerbutton w-button">Book an appointment</a><a href="{{ site.twitterAccount }}"><img src="{{ site.url }}/images/icon-twitter-01.svg" class="socialmedia"></a><a href="{{ site.googlePlusAccount }}"><img src="{{ site.url }}/images/icon-google-01.svg" class="socialmedia"></a><a href="{{ site.facebookAccount }}"><img src="{{ site.url }}/images/icon-facebook.svg" class="socialmedia"></a></div>
          </div>
        </div>
      </div><!-- end topBanner-->

      <!-- nav -->
      <div data-collapse="medium" data-animation="default" data-duration="400" class="mainnav w-nav">
        <nav class="navcontainer w-container"><a href="/" class="w-nav-brand"><img src="{{ site.url }}/images/vet-logo-01.svg" class="image"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">

           <!--<a href="{{ page.url }}" class="navlinks w-nav-link">{{ page.menu }}</a>-->
           <!--<a href="{{ site.url }}" class="navlinks w-nav-link">Home</a>
           <a href="{{ site.url }}/about.html" class="navlinks w-nav-link">About</a>
           <a href="{{ site.url }}/services.html" class="navlinks w-nav-link">Services</a>
           <a href="{{ site.url }}/news.html" class="navlinks w-nav-link">News</a>
           <a href="{{ site.url }}/contact-us.html" class="navlinks w-nav-link">Contact Us</a>-->

          {% for navitem in site.top-level %}
            {% if navitem.menu == true %}

              <a href="{{ navitem.url }}" class="navlinks w-nav-link">{{ navitem.menuName }}</a>

            {% endif %}
          {% endfor %}

          </nav>
          <div class="hamburgercontainer">
            <div class="menu-button w-nav-button">
              <div class="icon-2 w-icon-nav-menu"></div>
            </div>
          </div>
        </nav>
      </div><!-- end nav -->
