        <div class="homemoredetail w-container">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-medium-6 w-col-tiny-tiny-stack">
              <h3 class="homeh3 editable">{{ page.moduleHeader }}</h3>
              <div class="h3underline"></div>
              <p class="editable">
                  Add some new text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat consectetur tellus. Curabitur eget felis non purus viverra fermentum condimentum commodo elit. Morbi convallis tempor mi vel convallis. Maecenas purus sem, viverra et blandit eget, condimentum id enim. Cras eu efficitur enim. Duis condimentum ligula non neque consequat, sit amet porta felis imperdiet. Curabitur laoreet dui in fringilla varius. Nullam ipsum tellus, ultrices at odio porta, interdum imperdiet velit.
              </p>
            </div>
            <div class="column-3 w-col w-col-6 w-col-medium-6 w-col-tiny-tiny-stack"><img alt="" class="editable" src="/images/main-home-extra-4.jpg" />"</div>
          </div>
        </div>
