        <div class="homemoredetail w-container">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-medium-6 w-col-tiny-tiny-stack">
              <h3 class="homeh3 editable">{{ page.moduleHeader }}</h3>
              <div class="h3underline"></div>
              <p class="editable">{{ page.moduleText }}</p>
            </div>
            <div class="column-3 w-col w-col-6 w-col-medium-6 w-col-tiny-tiny-stack"><img src="{{ site.url }}/images/{{ page.moduleImage_image }}" alt="" class="editable">"</div>
          </div>
        </div>
